
.btn {
    background-color: transparent;
    width: 80%;
    border: 3px solid var(--main-color);
    border-radius: 6px;
    box-shadow: var(--dark-green) 0 0 10px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
   
.btn::after, .btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--main-color);
}
   
.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}
   
.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}
   
.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}
   
.btn:hover .btn-text:not(:hover) {
    color: var(--main-green);
}
   
.btn:active {
    filter: brightness(.7);
    transform: scale(.95);
}
.btn-text {       
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    text-shadow: var(--dark-green) 0 0 5px;
    color: var(--main-color);
    transition: all .5s;
}
.btn-text:hover {
    color: var(--main-green);
}
