<section class="container section">
    <audio autoplay id="screenAudio" src="assets/audios/title-screen.mp3"></audio>
    <div class="row text-center">
        <div class="col-12">
            <img 
            class="img-fluid" 
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{this.pokemonScreen}}.png" 
            alt="Pokeball">
        </div>
    </div>
    <div class="row">
        <h1 class="col-12 text-center">{{this.title | uppercase}}</h1>
    </div>
    <form
        class="container"
        [formGroup]="form"
        (ngSubmit)="startGame($event)"
        autocomplete="off"
    >
        <div class="form-floating row my-1">
            <input 
                type="text" 
                class="form-control col-12" 
                id="player"
                placeholder="Player Name" 
                formControlName="player"
                required
            >
            <label for="player">Player Name</label>
        </div>
        <div class="input-group gap-1 my-1">
            <select
                class="form-select"
                formControlName="cards"
            >
                <option class="form-option" value="">Seleccionar Tablero</option>
                <option class="form-option" *ngFor="let card of cards" [ngValue]="card.value">
                    {{ card.name }}
                </option>
            </select>
            <select
                class="form-select"
                formControlName="time"
            >
                <option class="form-option" value="">Seleccionar Tiempo</option>
                <option class="form-option" *ngFor="let time of times" [ngValue]="time">
                    {{ time }}
                </option>
            </select>
            <select
                class="form-select"
                formControlName="generation"
            >
                <option class="form-option" value="">Seleccionar Generacion</option>
                <option class="form-option" *ngFor="let gen of generations" [ngValue]="gen">
                    {{ gen | titlecase }} Generation
                </option>
            </select>
        </div>
        <input 
                type="submit" 
                value="Empezar Juego" 
                class="btn btn-primary my-1 col-12"
            >   
    </form>
</section>