@import "src/styles";

.profile {
    height: 10rem;

    &-image {
        box-shadow: 0px 5px 15px $dark-green;
    }
    &-text {
        color: $main-color;
        text-align: center;        
        text-shadow: 0px 5px 15px $dark-green;
    }
}
