@import "src/styles";

.profile {
    height: 10rem;

    &-image {
        box-shadow: $dark-green 0 0 15px;
    }
    &-text {
        color: $main-color;
        text-align: center;        
        text-shadow: 2px 2px 5px $dark-green;
    }
}
