@if (!gameplay.gameStarted) {
<app-start-screen
   
    (startGameEvent)="getCards($event)"
    [pokemonScreen]="this.pokemonScreen"
></app-start-screen>
}
@if (gameplay.gameStarted && !gameplay.gameEnded) {
<main class="container-fluid">
    <div class="row pt-2">
        <app-board 
            class="d-flex align-items-center justify-content-center col-12 col-md-9"
        ></app-board>
        <div class="col-12 col-md-3">
            <div class="row">
                <div class="col d-flex">
                    <app-score></app-score>
                </div>
            </div>            
        </div>
    </div>
</main>
}
@if (gameplay.gameEnded) {
<app-end-screen
   
></app-end-screen>
}