<div class="d-flex row h-100 w-100 align-items-center justify-content-center">
    <div class="col-10 p-2 mt-1 mt-md-5 score">
        <p class="text-center pt-1 w-100">
            Tiempo
            <br>
             {{ this.countdown}} Segundos
        </p>
    </div>
    <div class="col-6 p-2 mt-1 mt-md-5 score">
        <p class="text-center pt-1 w-100">
            Movimientos
            <br>
            <fa-icon [icon]="faHandPointer"></fa-icon>&nbsp;{{this.movements}}
        </p>
    </div>
    <div class="col-4 p-2 mt-1 mt-md-5 score">
        <p class="text-center pt-1 w-100">
            pokemones restantes
            <br>
            <img src="assets/icons/pokeball.svg" alt="pokeball" class="pokeball"> &nbsp;{{this.matches}}

        </p>
    </div>
</div>
