<section class="d-flex row align-items-center justify-content-around mx-md-2">
    <app-button
        class="col-10 p-2 mt-1"
        [pokemonLength]="12"
        [text]="'Reiniciar'"
        (onClickEvent)="restart()"                        
    ></app-button>
    <app-player-profile
        class="col-10 p-2 mt-1"
        [text]="'Hola 👋🏼'"
        [player]="cardsService.gameParams.player"
    ></app-player-profile>
    <div class="col-10 p-2 mt-1 score">
        <p class="text-center pt-1 w-100">
            Movimientos
            <br>
            🃏&nbsp;{{gameplay.movements}}
        </p>
    </div>
    <div class="col-10 p-2 mt-1 score">
        <p class="text-center pt-1 w-100">
            pokemones restantes
            <br>
            <img src="assets/icons/pokeball.svg" alt="pokeball" class="pokeball"> &nbsp;{{gameplay.matches}}
        </p>
    </div>
    <app-about
        class="col-10 p-2 mt-1 score"
    ></app-about>
</section>
