@import "src/styles";

.score{
  border: 3px solid $main-color;
  border-radius: 6px;
  box-shadow: $dark-green 0 0 15px;
  padding-bottom: 0;
  margin-bottom: 0;
  
  color: $main-color;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  text-shadow: $dark-green 0 0 5px;
}
.pokeball {
  height: 1.5rem;
  width: auto;
}
@media (min-width: 768px) {
  .score {
    width: 80%;
    height: 5rem;
  }
  section{
    height: 90vh;
  }
}