<section class="container vh-100 pt-2 pt-md-5">
    <div class="row">
        <div class="col-12 mt-2">
            <h1 class="text-center title">Game Over</h1>
        </div>
    </div>
    <div class="row feedback" id="feedback">
        @if (gameplay.matches == 0) {
<div class="col-12">
            <app-player-profile
                [player]="cardsService.gameParams.player"
                [text]="'Gracias por jugar'"
            ></app-player-profile>
            <p class="feedback-text">
                Lograste los {{ cardsService.pokemonLength }} aciertos en {{ gameplay.movements }} movimientos.
            </p>
        </div>
}
    </div>
    <div class="row mt-2 end-button">
        <app-button
            [text]="'Reiniciar'"
            (click)="this.gameplay.restartGame()"            
            ></app-button>
    </div>
    <div class="row mt-2 end-button">
        <app-button
            [text]="'Volver a Inicio'"
            (click)="this.gameplay.restartApp()"
        ></app-button>
    </div>
</section>
