$main-green: rgba(0,110,79,1);
$main-color: rgb(252, 239, 238);
$dark-green: rgba(0, 61, 44, 0.7);
$dark-red: rgba(110,0,0,1);

$primary: $main-green;
$secondary: $dark-green;
$light: $main-color;
$dark: $dark-red;
$enable-cssgrid: true;


@import "node_modules/bootstrap/scss/bootstrap";

body {
    font-family: Helvetica, sans-serif;
    background: rgb(162,255,229);
    background: radial-gradient(circle, rgb(48, 175, 139) 0%, 
                                        rgb(19, 148, 118) 25%, 
                                        rgb(2, 77, 55) 100%);
}

