<div class="container-fluid">
    <div 
        class="grid board" 
        [ngClass]="{'board12': cardsService.gameParams.cards === 12,
                    'board10': cardsService.gameParams.cards === 10,
                    'board8': cardsService.gameParams.cards === 8
                    }">
        <app-card
            class="p-0"
            *ngFor="let pokemon of cardsService.cardInfo"
            [pokemon]="pokemon.id"
            [state]="pokemon.state"
            [id]="cardsService.cardInfo.indexOf(pokemon)"
            (flip)="flipCard($event)"
        ></app-card>        
    </div>
</div>
