<div class="container-fluid">
    <div class="row pt-2">
        <div class="col-12 col-md-9">
            <main class="container-fluid">
                <div class="row vh-100">
                    <app-card
                        class="col-3 col-md-2 p-0"
                        *ngFor="let pokemon of cardInfo"
                        [pokemon]="pokemon.id"
                        [state]="pokemon.state"
                        [id]="cardInfo.indexOf(pokemon)"
                        (flip)="flipCard($event)"
                    ></app-card>        
                </div>
            </main>
        </div>
        <div class="col-12 col-md-3">
            <app-button 
                class="col-12"
                [pokemonLength]="12"
                [text]="this.gameStarted ? 'Reiniciar' : 'Iniciar'"
                (onClickEvent)="getCards($event)"
            ></app-button>
            <app-score></app-score>
        </div>
    </div>
</div>
